.qrCodeTable {
    margin: auto;
    margin-bottom: 15px;
    padding: 0px;
    width: 150px;

    box-shadow: 10px 10px 5px #888888;

    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.qrCodeTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: none;
}

.qrCodeTable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.qrCodeTable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.qrCodeTable table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.qrCodeTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.qrCodeTable tr:hover td {

}

.qrCodeTable tr:nth-child(odd) {
    background-color: #ffffff;
}

.qrCodeTable tr:nth-child(even) {
    background-color: #ffffff;
}

.qrCodeTable td {
    vertical-align: middle;

    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    text-align: center;
    padding: 7px 7px 0px 7px;
    font-size: 10px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.qrCodeTable tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.qrCodeTable tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.qrCodeTable tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.qrCodeTable tr:first-child td {
    background: -o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
    background: -moz-linear-gradient(center top, #ffffff 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");
    background: -o-linear-gradient(top, #ffffff, ffffff);

    background-color: #ffffff;
    border: 0px solid #ffffff;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #000000;
}

.qrCodeTable tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
    background: -moz-linear-gradient(center top, #ffffff 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");
    background: -o-linear-gradient(top, #ffffff, ffffff);

    background-color: #ffffff;
}

.qrCodeTable tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.qrCodeTable tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}